*,
*::before,
*::after
{
	margin: 0 ;
	padding: 0 ;
	border: none ;
	background: none ;
	font: inherit ;
	color: inherit ;
	box-sizing: border-box ;
}

/*
nmsh-galaxy,
nmsh-system
{
	display: grid ;
	grid-row-gap: 1rem ;
	grid-column-gap: 1rem ;
}

nmsh-galaxy
{
	grid-auto-columns: 20rem ;
	grid-auto-rows: 20rem ;
}

nmsh-system
{
	grid-auto-columns: 10rem ;
	grid-auto-rows: 10rem ;
}
*/

nmsh-planet
{
	display: block ;
}
